<div class="containee-fluid mt-5 contact-style" id="contactid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Contact us</h1>
      <p class="text-center sub-heading">we will happy to help you</p>
      <div class="row">
        <div class="col-md-6 col-12 mx-auto">
          <form action="/contact" method="POST">
          <div class="from-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" class="form-control" id="exmapleInputPassword1" name="name" placeholder="Full Name">
          </div>
          <div class="from-group">
            <label for="exampleInputPassword1">Email Address</label>
            <input type="email" class="form-control" id="exmapleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter Your Email">
            <small id="emailHelp" class="from-text text-muted">we wil never share your emailto simeone else</small>
          </div>
          <div class="from-group">
            <label for="exampleInputPassword1">Phone</label>
            <input type="number" class="form-control" id="exmapleInputPassword1" name="phone" placeholder="Phone Number">
          </div>
          <div class="from-group">
            <label for="exampleInputPassword1">Massage</label>
            <input type="text" class="form-control" id="exmapleInputPassword1" name="massage" placeholder="Massage">
          </div>
          <button type="submit" class="btn-style btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>